.results-section {
  width: 90%;
  height: auto;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 80px;
}

.data {
  width: 95%;
}

.search-type {
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(104, 104, 104, 0.5);
  padding-bottom: 2px;
  font-size: 14px;
}

.results-section button {
  margin-top: 30px;
  padding: 6px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #7a7a7a;
  color: #97d077;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  position: fixed;
  bottom: 30px;
  left: 20px;
}

.results-section button:hover {
  cursor: pointer;
  background-color: #696969;
  transform: scale(1.02);
}

@media (min-width: 375px) {
  .search-type {
    font-size: 20px;
  }
}

@media (min-width: 360px) {
  .results-section button {
    padding: 7px 10px;
    font-size: 12px;
  }
}
