.detail-header {
  height: 10vh;
  display: flex;
  position: relative;
  border-bottom: 1px solid rgba(212, 212, 212, 0.1);
}

.detail-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.detail-brand i {
  font-size: 24px;
}

.detail-brand h1 {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.detail-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.detail-title h2 {
  font-size: 18px;
}

.detail-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}

.detail-type {
  margin-bottom: 10px;
}

.detail-type span {
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(104, 104, 104, 0.5);
  padding-bottom: 2px;
  font-size: 18px;
}

.detail-container button {
  margin-top: 30px;
  padding: 6px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #7a7a7a;
  color: #97d077;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  position: fixed;
  bottom: 30px;
  left: 20px;
}

.detail-container button:hover {
  cursor: pointer;
  background-color: #696969;
  transform: scale(1.02);
}

@media (max-width: 375px) {
  .detail-title h2 {
    font-size: 16px;
  }
  .detail-type span {
    font-size: 18px;
  }
}

@media (min-width: 360px) {
  .detail-container button {
    padding: 7px 10px;
    font-size: 12px;
  }
}
