.dashboard-section {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.dashboard-search {
  height: 14vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 7px;
  border-bottom: 1px solid rgba(212, 212, 212, 0.1);
}

.search-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-bottom: 2%;
  position: relative;
}

.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.brand .dragon-icon {
  font-size: 24px;
}

.brand h1 {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.search-nav input {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
  background-color: #9e9e9e;
  color: #252525;
  width: 100%;
  border-radius: 3px;
  /* box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5); */
}

.search-nav .search-icon {
  position: absolute;
  right: 10px;
  color: rgb(124, 124, 124);
}

.search-options {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.search-btn {
  padding: 6px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #7a7a7a;
  color: #97d077;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
}

.active-search {
  background-color: #333;
  color: #97d077;
}

.dash-load {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  font-size: 14px;
  font-weight: bold;
  color: rgb(255, 43, 43);
}

/* .dash-load .sk-spinner {
  width: 20px;
  height: 30px;
} */

.results-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

.results-empty i {
  margin-bottom: -10px;
  font-size: 40px;
}

@media (max-width: 320px) {
  .search-nav input,
  .search-nav button {
    padding: 5px 10px;
    font-weight: 500;
  }

  .search-btn {
    font-weight: 500;
    padding: 5px 7px;
  }

  .brand .dragon-icon {
    font-size: 18px;
  }

  .brand h1 {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
  }
}
