.storage-section {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.storage-header {
  height: 10vh;
  display: flex;
  position: relative;
  border-bottom: 1px solid rgba(212, 212, 212, 0.1);
}

.storage-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.storage-brand i {
  font-size: 24px;
}

.storage-brand h1 {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.storage-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.storage-title h2 {
  font-size: 18px;
  text-transform: uppercase;
}

.settings-main {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 20px;
}

.settings-container {
  display: flex;
  flex-direction: column;
}

.settings-container label {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.settings-container input[type='range'] {
  border-radius: 5px;
  width: 100px;
  background: transparent;
}
